@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Dancing Script', cursive;
    --font3:'Sriracha', cursive;
}
* {
    margin: 0px;
    padding: 0px;
    
}
html, body{
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--font1);
}
header {
    background-color: black;
    color: white;
    text-align: center;
}
header >h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font3);
    font-size: 10vw;
}
header >p{
    padding-bottom: 50px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
}
section {
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-family: var(--font2);
    font-size:4vw;


}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
}
section.imagem >p {
    background-color: rgba(6, 6, 6, 0.811);
    display: inline-block;
    padding: 20px;
    text-shadow: 1px 1px 0px black;
    }

section >p {
    padding: 3em;
}

section#img01{
    background-image: url("imagens/background001.jpg");
    background-position: right center;
    b
}

section#img02{
    background-image: url("imagens/background002.jpg");
    background-position: left center;
    
}

footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}
